.card {
    background: hsl(212, 39%, 19%);

    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(18, 23, 36, 0.66) 0px 5px 15px;

}

.img {
    background: hsl(216, 12%, 54%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;

}

h1 {
    color: #ffff;
    padding: 20px;
}

p {
    color: hsl(214, 6%, 46%);
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
    width: 90%;
}

.number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.num {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    background: blue;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: hsl(214, 6%, 46%);
    color: white;
    cursor: pointer;

}

button {
    width: 80%;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: hsl(25, 97%, 53%);
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

button:focus {
    background-color: hsl(214, 29%, 78%);
}

.num:hover {
    background: hsl(25, 97%, 53%);
    color: #ffff;
}

button:hover {
    box-shadow: rgba(100, 100, 111, 2) 0px 7px 29px 0px;
    transition:  .2s ease-in;
    color: hsl(25, 97%, 53%);
    background-color: white;
}

@media (max-width: 680px) {
    .card {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
}


@media (max-width: 375px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .para {
        padding: 40px;
    }
}

.num :active {
    color: hsl(214, 6%, 46%) ;
}




/* Thank you Card */

.image {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    padding-top: 40px;
}


.rate {
    width: 80%;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: hsl(212, 5%, 47%);
    color: hsl(25, 97%, 53%);
    text-align: center;
    padding-top: 10px;
}

.you {
    color: #ffff;
    text-align: center;
}

.para {
    color: hsl(214, 6%, 46%);
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
    text-align: center;
}

